<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
blog.index


{% for c in cats %}
	<article class="post">

	   <p>{{c.name}}</p>
	</article>
{% endfor %}

<div id="Pagination" class="pagination">
    {% for i in pagination %}
        {% if i==pid %}
        <span class="current">{{ i }}</span>
        {% else %}
<a href="/blog/page/{{ i }}" >{{ i }}</a>
        {% endif %}
    {% endfor %}
<span>...</span>
<a href="/blog/page/{{last_page}}" >末页 &raquo;</a>
</div>


</body>
</html>