{%  extends "admin/layout.html"  %}
{% block body %}
<table class="table">
    <tr>
        <td>id</td>
        <td>Title</td>
        <td>category</td>
        <td>ck</td>
        <td>处理 | URL</td>
{#        <td>title</td><td>url</td><td>img</td><td>lists</td><td>处理</td>#}
    </tr>
    {% for mv in movies %}
        <tr>
        <td>{{ mv.id }}</td>
        <td>{{ mv.title }}</td>
        <td>{{ mv.category }}</td>
        <td>{{ mv.ck }}</td>
        <td>
            <a href="{{ url_for('admin.hakuzyUpToMov',id=mv.id)}}">处理</a>
            |<a href="http://www.hakuzy.com/{{ mv.url }}" target="_blank">url</a>

        </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}