{%  extends "layout.html" %}
{% block body %}


      <div class="masthead">
        <h3 class="muted">3tv3</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/">首页</a></li>
                <li><a href="/dongzuopian.html">动作片</a></li>
                <li><a href="/xijupian.html">喜剧片</a></li>
                <li><a href="/aiqingpian.html">爱情片</a></li>
                <li><a href="/kehuanpian.html">科幻片</a></li>
                <li><a href="/kongbupian.html">恐怖片</a></li>
                <li><a href="/zhanzhengpian.html">战争片</a></li>
                <li class="active"><a href="/juqingpian.html">剧情片</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>


      <hr/>

      <div class="row-fluid">
            <ul class="thumbnails">
                {% for mv in mvs[0:6] %}
                  <li class="span2">
                    <a class="thumbnail" href="/juqingpian/{{mv.name }}.html" target="_blank">
                      <img alt="{{ mv.title }}" title="{{ mv.title }}" style="width: 150px; height: 180px;" src="{{ mv.img }}" onerror='javascript:this.src="http://tupian.guobianyu.com:8011/pic2/wzf/2013/622.jpg"' />
                    </a>
                   <div class="caption">
                    <h5><a href="/juqingpian/{{mv.name }}.html" target="_blank">{{ mv.title }}</a></h5><h7>{{ mv.banben }}</h7>
                  </div>
                </li>
              {% endfor %}
            </ul>


            <ul class="thumbnails">
                {% for mv in mvs[6:12] %}
                  <li class="span2">
                    <a class="thumbnail" href="/juqingpian/{{mv.name }}.html" target="_blank">
                      <img alt="{{ mv.title }}" title="{{ mv.title }}" style="width: 150px; height: 180px;" src="{{ mv.img }}" onerror='javascript:this.src="http://tupian.guobianyu.com:8011/pic2/wzf/2013/622.jpg"' />
                    </a>
                   <div class="caption">
                    <h5><a href="/juqingpian/{{mv.name }}.html" target="_blank">{{ mv.title }}</a></h5><h7>{{ mv.banben }}</h7>
                  </div>
                </li>
              {% endfor %}
            </ul>

            <ul class="thumbnails">
                {% for mv in mvs[12:18] %}
                  <li class="span2">
                    <a class="thumbnail" href="/juqingpian/{{mv.name }}.html" target="_blank">
                      <img alt="{{ mv.title }}" title="{{ mv.title }}" style="width: 150px; height: 180px;" src="{{ mv.img }}" onerror='javascript:this.src="http://tupian.guobianyu.com:8011/pic2/wzf/2013/622.jpg"' />
                    </a>
                   <div class="caption">
                    <h5><a href="/juqingpian/{{mv.name }}.html" target="_blank">{{ mv.title }}</a></h5><h7>{{ mv.banben }}</h7>
                  </div>
                </li>
              {% endfor %}
            </ul>

            <ul class="thumbnails">
                {% for mv in mvs[18:24] %}
                  <li class="span2">
                    <a class="thumbnail" href="/juqingpian/{{mv.name }}.html" target="_blank">
                      <img alt="{{ mv.title }}" title="{{ mv.title }}" style="width: 150px; height: 180px;" src="{{ mv.img }}" onerror='javascript:this.src="http://tupian.guobianyu.com:8011/pic2/wzf/2013/622.jpg"' />
                    </a>
                   <div class="caption">
                    <h5><a href="/juqingpian/{{mv.name }}.html" target="_blank">{{ mv.title }}</a></h5><h7>{{ mv.banben }}</h7>
                  </div>
                </li>
              {% endfor %}
            </ul>
      </div>
        <div>
            {{ pagination.links|safe }}
        </div>
      <hr/>

{% endblock %}
