<html xmlns="http://www.w3.org/1999/xhtml"><head>
</head>
<body>
<script charset="utf-8" src="http://player.baidu.com/lib/player.js" language="javascript"></script>
<img width="0" height="0" src="http://php.player.baidu.com/player/tn.php?tn=51061038&amp;ver=2">
<div id="BdInstall"></div>
<div style="display: none;" id="obj_cont"></div>
<div id="BdPlayer">
    <div style="width:100%;height:500px;overflow:hidden;position:relative">
        <object width="100%" height="500" param_showstartclient="1" param_autoplay="1" param_oncomplete="onComplete" param_onplaybufferingend="onPlayBufferingEnd" param_onplaybufferingstart="onPlayBufferingStart" param_onfirstbufferingend="onFirstBufferingEnd" param_onfirstbufferingstart="onFirstBufferingStart" param_onpause="onPause" param_onplay="onPlay" param_nextwebpage="http://www.zhuzhu.cc/dz/teshushenfen-0-2.html" param_lastwebpage="http://www.zhuzhu.cc/dz/teshushenfen-0-0.html" param_nextcacheurl="ed2k://|file|特殊身份_BD1280高清中字.rmvb|1139880516|12B360EEA85E36A51F12DA3D149BFE61|/" param_url="bdhd://1262966004|65A4C02CB6946DFA749DE0DA63BAE7E8|www.zhuzhu.cc[特殊身份真[zhuzhu.cc].rmvb" progid="Xbdyy.PlayCtrl.1" type="application/player-activex" name="BaiduPlayer" id="BaiduPlayer"></object></div></div>
<script charset="utf-8" src="http://php.player.baidu.com/player/player.php?url=bdhd%3A%2F%2F1262966004%7C65A4C02CB6946DFA749DE0DA63BAE7E8%7Cwww.zhuzhu.cc%5B%E7%89%B9%E6%AE%8A%E8%BA%AB%E4%BB%BD%E7%9C%9F%5Bzhuzhu.cc%5D.rmvb" language="javascript"></script>
<script charset="utf-8" src="http://php.player.baidu.com/player/bdhd3.js?1310302" language="javascript"></script>
<link type="text/css" href="http://player.baidu.com/lib/setupax/load2.css" rel="stylesheet">

</body></html>