BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/1.5 'ו', tahoma, sans-serif; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
EM {
	FONT-STYLE: normal
}
UL {
	HEIGHT: 100%; OVERFLOW: hidden
}
.box {
	HEIGHT: 100%; OVERFLOW: hidden
}
.tools {
	HEIGHT: 100%; OVERFLOW: hidden
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: crimson; TEXT-DECORATION: underline
}
H3 {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; LINE-HEIGHT: 28px; PADDING-LEFT: 8px; BACKGROUND: #f9f9f9; HEIGHT: 28px; COLOR: #333; FONT-SIZE: 14px
}
INPUT {
	VERTICAL-ALIGN: middle
}
#wrap {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 5px; WIDTH: 980px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.wrap {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 960px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.side {
	WIDTH: 250px; OVERFLOW: hidden
}
.main {
	WIDTH: 702px; OVERFLOW: hidden
}
.border1 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.border2 {
	BORDER-BOTTOM: #96d3fa 1px solid; BORDER-LEFT: #96d3fa 1px solid; BACKGROUND: #eff9ff; BORDER-TOP: #96d3fa 1px solid; BORDER-RIGHT: #96d3fa 1px solid
}
.mb6 {
	MARGIN-BOTTOM: 6px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.more {
	POSITION: absolute; RIGHT: 10px; FONT-WEIGHT: normal; TOP: 0px
}
.more STRONG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.more A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.red {
	COLOR: crimson
}
.none {
	DISPLAY: none
}
.header {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; OVERFLOW: hidden; PADDING-TOP: 10px
}
.logo {
	WIDTH: 268px; HEIGHT: 70px; OVERFLOW: hidden
}
.nav {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f9f9f9; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; PADDING-TOP: 0px
}
.nav P {
	LINE-HEIGHT: 26px; BACKGROUND: #f9f9f9; HEIGHT: 26px; OVERFLOW: hidden
}
.nav P.tow {
	BACKGROUND: #fff
}
.nav P A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline; FLOAT: left; COLOR: #333; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.nav P A.this {
	BACKGROUND: #fff; COLOR: crimson; FONT-WEIGHT: bold
}
.nav P A:hover {
	BACKGROUND: #fff; COLOR: crimson; TEXT-DECORATION: none
}
.searchbar FORM {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 240px; PADDING-RIGHT: 3px; DISPLAY: inline; BACKGROUND: #7eb2e2; FLOAT: left; HEIGHT: 29px; OVERFLOW: hidden; PADDING-TOP: 3px
}
.psearchbar FORM {
	WIDTH: 300px
}
.searchbar FORM INPUT {
	DISPLAY: inline; FLOAT: left
}
.searchword {
	BORDER-BOTTOM: #21558f 1px solid; BORDER-LEFT: #21558f 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 141px; PADDING-RIGHT: 4px; HEIGHT: 19px; COLOR: #21558f; FONT-SIZE: 16px; BORDER-TOP: #21558f 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #21558f 1px solid; PADDING-TOP: 4px
}
.psearchbar .searchword {
	WIDTH: 201px
}
.submit {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; WIDTH: 85px; BORDER-TOP-STYLE: none; BACKGROUND: url(../bg.png) no-repeat; HEIGHT: 29px; MARGIN-LEFT: 4px; BORDER-RIGHT-STYLE: none; OVERFLOW: hidden
}
.searchbar P {
	BORDER-BOTTOM: #feea94 1px solid; BORDER-LEFT: #feea94 1px solid; LINE-HEIGHT: 33px; PADDING-LEFT: 6px; WIDTH: 500px; DISPLAY: inline; BACKGROUND: #feffd5; FLOAT: right; HEIGHT: 33px; COLOR: #fb48a3; OVERFLOW: hidden; BORDER-TOP: #feea94 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #feea94 1px solid
}
.psearchbar P {
	WIDTH: 560px
}
.searchbar P A {
	COLOR: #3374dc; MARGIN-LEFT: 6px
}
.searchbar P A:hover {
	COLOR: #fb48a3
}
.tools {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #666; PADDING-TOP: 4px
}
.tools .fl {
	WIDTH: 70%; OVERFLOW: hidden
}
.tools .fr {
	WIDTH: 25%; OVERFLOW: hidden
}
.tools .fr A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.headright {
	WIDTH: 100%; OVERFLOW: hidden
}
.headright .txtnote {
	TEXT-ALIGN: right; LINE-HEIGHT: 24px; WIDTH: 100%; HEIGHT: 24px; COLOR: #ccc
}
.headright FORM {
	TEXT-ALIGN: center; MARGIN: 5px auto; WIDTH: 100%; HEIGHT: 30px; OVERFLOW: hidden
}
.headright FORM SPAN {
	WIDTH: 3px; BACKGROUND: url(../repeat.png) left -118px; FLOAT: left; HEIGHT: 28px; OVERFLOW: hidden
}
.headright FORM INPUT {
	BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none
}
.headright FORM .intext {
	LINE-HEIGHT: 28px; PADDING-LEFT: 5px; WIDTH: 423px; BACKGROUND: url(../repeat.png) left -156px; FLOAT: left; HEIGHT: 28px; COLOR: #777
}
.headright FORM .ss {
	WIDTH: 110px; BACKGROUND: url(../bg321.png) left -97px; FLOAT: left; HEIGHT: 28px; OVERFLOW: hidden
}
.headright P {
	TEXT-ALIGN: left; WIDTH: 650px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; WORD-BREAK: keep-all
}
.headright P A {
	MARGIN-LEFT: 5px
}
.newtool {
	POSITION: absolute; LINE-HEIGHT: 18px; WIDTH: 150px; DISPLAY: block; HEIGHT: 18px; TOP: 75px; LEFT: 75px
}
.newtool A {
	MARGIN: 0px 8px
}
.menu2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: -4px; PADDING-LEFT: 4px; WIDTH: 103px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 28px; OVERFLOW: hidden; PADDING-TOP: 4px
}
.menu2 A.history {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 26px; WIDTH: 101px; DISPLAY: block; HEIGHT: 26px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.menu2 A.history:hover {
	BACKGROUND-COLOR: #fff; COLOR: #e22160; TEXT-DECORATION: none
}
.menu2 A.myfav {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 23px; MARGIN: 0px 1px 0px 15px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline; FLOAT: right; HEIGHT: 27px; COLOR: #fff; PADDING-TOP: 0px
}
.menu2 A.myfav:hover {
	BACKGROUND: url(../fav_2.png) #fff no-repeat 5px 40%; COLOR: #666; TEXT-DECORATION: none
}
.widget-record {
	Z-INDEX: 99999; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; WIDTH: 300px; BACKGROUND: #fff; BORDER-TOP: #ccc 1px solid; RIGHT: 13px; BORDER-RIGHT: #ccc 1px solid; TOP: 66px
}
.widget-record .list {
	LINE-HEIGHT: 14px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.widget-record .list .item {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.widget-record .list .item LI {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: #f2f2f2; OVERFLOW: hidden; PADDING-TOP: 5px
}
.widget-record .list .item .name {
	FLOAT: left
}
.widget-record .list .item .now {
	FLOAT: right; COLOR: #e12160 !important
}
.widget-record .info {
	LINE-HEIGHT: 25px; HEIGHT: 25px; BORDER-TOP: #ccc 1px solid
}
.widget-record .info SPAN.count {
	PADDING-LEFT: 10px; WIDTH: 80px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: left; HEIGHT: 25px; COLOR: #666666
}
.widget-record .info SPAN.close {
	WIDTH: 40px; PADDING-RIGHT: 10px; DISPLAY: inline; BACKGROUND: #fff; FLOAT: right; HEIGHT: 25px
}
.widget-record .info SPAN.close A {
	COLOR: #0079b9
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; COLOR: #666
}
#footer A {
	COLOR: #666
}
.page {
	TEXT-ALIGN: center
}
.page EM {
	BORDER-BOTTOM: #aedef2 1px solid; BORDER-LEFT: #aedef2 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #48b9ef; MARGIN-LEFT: 5px; BORDER-TOP: #aedef2 1px solid; BORDER-RIGHT: #aedef2 1px solid; PADDING-TOP: 3px
}
.page A {
	BORDER-BOTTOM: #aedef2 1px solid; BORDER-LEFT: #aedef2 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #48b9ef; MARGIN-LEFT: 5px; BORDER-TOP: #aedef2 1px solid; BORDER-RIGHT: #aedef2 1px solid; PADDING-TOP: 3px
}
.page EM {
	COLOR: red
}
.page EM.nolink {
	BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; COLOR: #999; BORDER-RIGHT-COLOR: #ddd; BORDER-LEFT-COLOR: #ddd
}
.page INPUT {
	MARGIN-LEFT: 5px
}
.banner {
	WIDTH: 650px; OVERFLOW: hidden
}
.all_money {
	TEXT-ALIGN: center; MARGIN: 0px auto 6px; WIDTH: 100%; OVERFLOW: hidden
}
.ad728 {
	TEXT-ALIGN: center; MARGIN: 13px auto auto; WIDTH: 728px; CLEAR: both; OVERFLOW: hidden
}
.channel UL LI.ad728 {
	TEXT-ALIGN: center; MARGIN: 13px auto auto; WIDTH: 728px; CLEAR: both; OVERFLOW: hidden
}
.ad300 {
	BORDER-BOTTOM: #bfdaf1 1px solid; BORDER-LEFT: #bfdaf1 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 300px; PADDING-RIGHT: 1px; HEIGHT: 250px; BORDER-TOP: #bfdaf1 1px solid; BORDER-RIGHT: #bfdaf1 1px solid; PADDING-TOP: 1px
}
.ad250 {
	WIDTH: 250px; OVERFLOW: hidden
}
UL.pic_list {
	PADDING-BOTTOM: 13px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.pic_list LI {
	POSITION: relative; MARGIN: 15px 16px 0px 0px; WIDTH: 120px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden
}
A.pic {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: block; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
A.pic:hover {
	BORDER-BOTTOM-COLOR: #ff8400; BACKGROUND-COLOR: #ff8400; BORDER-TOP-COLOR: #ff8400; BORDER-RIGHT-COLOR: #ff8400; BORDER-LEFT-COLOR: #ff8400
}
UL.pic_list LI IMG {
	WIDTH: 110px; HEIGHT: 150px
}
UL.pic_list LI STRONG {
	TEXT-ALIGN: center; MARGIN-TOP: 6px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; FONT-WEIGHT: normal
}
UL.pic_list LI SPAN {
	POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=65); LINE-HEIGHT: 20px; WIDTH: 110px; BACKGROUND: #000; HEIGHT: 20px; COLOR: #fff; TOP: 135px; LEFT: 5px; opacity: 0.65
}
UL.pic_lists {
	PADDING-BOTTOM: 17px; MARGIN-TOP: 8px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
UL.pic_lists LI {
	POSITION: relative; MARGIN: 15px 16px 0px 0px; WIDTH: 120px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden
}
A.pics {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: block; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
A.pics:hover {
	BORDER-BOTTOM-COLOR: #ff8400; BORDER-TOP-COLOR: #ff8400; BACKGROUND: #ff8400; BORDER-RIGHT-COLOR: #ff8400; BORDER-LEFT-COLOR: #ff8400
}
UL.pic_lists LI IMG {
	WIDTH: 110px; HEIGHT: 80px
}
UL.pic_lists LI STRONG {
	TEXT-ALIGN: center; MARGIN-TOP: 6px; DISPLAY: block; HEIGHT: 36px; OVERFLOW: hidden; FONT-WEIGHT: normal
}
.tab {
	POSITION: absolute; FONT-SIZE: 12px; FONT-WEIGHT: 400; TOP: 0px; LEFT: 0px
}
.tab SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 3px; CURSOR: pointer; PADDING-TOP: 0px
}
.tab SPAN.this {
	BORDER-BOTTOM: #bbb 0px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND: #fff; COLOR: crimson; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
.slist UL {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 6px
}
.slist UL LI {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 4px
}
.slist UL LI H2 {
	PADDING-LEFT: 10px; WIDTH: 75%; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; BACKGROUND: url(../arrow.gif) no-repeat 0px 5px; FLOAT: left; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: 400
}
.slist UL LI H1 {
	PADDING-LEFT: 10px; WIDTH: 95%; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; BACKGROUND: url(../arrow.gif) no-repeat 0px 5px; FLOAT: left; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: 400
}
.slist UL LI SPAN {
	TEXT-ALIGN: right; WIDTH: 18%; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; FLOAT: right; COLOR: #777; OVERFLOW: hidden
}
.hot_tab {
	LEFT: 150px
}
UL.text_list {
	PADDING-BOTTOM: 13px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px dashed; PADDING-TOP: 0px
}
UL.text_list LI {
	MARGIN: 12px 8px 0px 0px; PADDING-LEFT: 10px; WIDTH: 154px; TEXT-OVERFLOW: ellipsis; DISPLAY: inline; WHITE-SPACE: nowrap; BACKGROUND: url(../arrow.gif) no-repeat 0px 5px; FLOAT: left; OVERFLOW: hidden
}
UL.newslist {
	BORDER-TOP-WIDTH: 0px
}
UL.newslist LI {
	WIDTH: 325px
}
UL.newslist LI H2 {
	WIDTH: 75%; DISPLAY: inline; FLOAT: left; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: 400
}
UL.newslist LI SPAN {
	TEXT-ALIGN: right; WIDTH: 20%; FLOAT: right; COLOR: #999; OVERFLOW: hidden
}
.slist UL.news_side {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 8px
}
.slist UL.news_side LI H2 {
	WIDTH: 93%
}
.flink {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #dbdee1; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.flink UL {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff; PADDING-TOP: 0px
}
.flink UL LI {
	TEXT-ALIGN: center; MARGIN: 8px 8px 0px 0px; WIDTH: 86px; DISPLAY: inline; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.flink UL LI A {
	DISPLAY: block; COLOR: #ccc
}
.flink UL LI A:hover {
	BACKGROUND: #fff
}
