{%  extends "admin/layout.html" %}
{%  block body %}
<table class="table table-bordered">
    <tr>
        <td>编号</td><td>title</td><td>banben</td><td>arts</td>
        <td>dc</td><td>lang</td><td>location</td><td>pubdate</td>
        <td>status</td><td>year</td><td>content</td><td>img</td>
        <td>fromto</td><td>category</td><td>管理</td>
    </tr>
    {%  for mv in movielist %}
    <tr>
        <td>{{ mv.id }}</td>
        <td>{{ mv.title }}</td>
        <td>{{ mv.banben }}</td>
        <td>{{ mv.arts }}</td>
        <td>{{ mv.dc }}</td>
        <td>{{ mv.lang }}</td>
        <td>{{ mv.location }}</td>
        <td>{{ mv.pubdate }}</td>
        <td>{{ mv.status }}</td>
        <td>{{ mv.year }}</td>
        <td>{{ mv.content }}</td>
        <td>{{ mv.img }}</td>
        <td>{{ mv.fromto }}</td>
        <td>{{ mv.category.name }}</td>
        <td>管理</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}