{% extends "admin/layout.html" %}
{% block body %}
<ul class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="{{ url_for('admin.guobianyulist')}}">Guobianyu</a></li>
    <li class="active">等待抓取列表</li>
</ul>

<ul class="nav nav-pills">
  <li><a href="{{ url_for('admin.guobianyulist1',cateen='dongzuopian') }}">动作片</a></li>
  <li><a href="{{ url_for('admin.guobianyulist1',cateen='juqingpian') }}">剧情片</a></li>
  <li><a href="{{ url_for('admin.guobianyulist1',cateen='xijupian') }}">喜剧片</a></li>
<li><a href="{{ url_for('admin.guobianyulist1',cateen='kongbupian') }}">恐怖片</a></li>
<li><a href="{{ url_for('admin.guobianyulist1',cateen='aiqingpian') }}">爱情片</a></li>
<li><a href="{{ url_for('admin.guobianyulist1',cateen='zhanzhengpian') }}">战争片</a></li>
<li><a href="{{ url_for('admin.guobianyulist1',cateen='jilupian') }}">记录片</a></li>
<li><a href="{{ url_for('admin.guobianyulist1',cateen='kehuanpian') }}">科幻片</a></li>
</ul>


<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th>ImgS</th><th>分类</th><th>标题</th><th>版本</th><th>演员</th><th>语言</th><th>年代</th><th>状态</th><th>管理</th>
</tr>
</thead>
<tbody>
 {% for guobianyu in guobianyulist %}
    <tr>
        <td><img src="{{ guobianyu.img }}" width="20" height="20"/> </td>
         <td>{{ guobianyu.catecn }}</td>
        <td><a href="http://www.guobianyu.com{{ guobianyu.url}}" target="_blank">{{ guobianyu.title }}</a></td>
         <td>{{ guobianyu.banben }}</td>
         <td>{{ guobianyu.arts }}</td>
         <td>{{ guobianyu.lang }}</td>
         <td>{{ guobianyu.pubyear }}</td>
         <td>{{ guobianyu.status }}</td>
         <td><a href="{{ url_for('admin.guobianyuedit',id=guobianyu.id)}}">edit</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

  {{ pagination.links|safe }}

</div>
{%  endblock %}