{% extends "admin/layout.html" %}
{% block body %}
<ul class="breadcrumb">
    <li><a href="#">首页</a> <span class="divider">/</span></li>
    <li><a href="#">Hakuzy</a> <span class="divider">/</span></li>
    <li class="active">已经抓取列表</li>
</ul>

<ul class="nav nav-pills">
<li><b>已经抓取</b></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='dongzuopian') }}">动作片</a></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='xijupian') }}">喜剧片</a></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='zhanzhengpian') }}">战争片</a></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='kehuanpian') }}">科幻片</a></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='aiqingpian') }}">爱情片</a></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='kongbupian') }}">恐怖片</a></li>
<li><a href="{{ url_for('admin.hakuzyfetchlist',catename='juqingpian') }}">剧情片</a></li>
</ul>

<ul class="nav nav-pills">
<li><b>未抓取</b></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='dongzuopian') }}">动作片</a></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='xijupian') }}">喜剧片</a></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='zhanzhengpian') }}">战争片</a></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='kehuanpian') }}">科幻片</a></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='aiqingpian') }}">爱情片</a></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='kongbupian') }}">恐怖片</a></li>
<li><a href="{{ url_for('admin.hakuzylist',catename='juqingpian') }}">剧情片</a></li>
</ul>

<table class="table table-striped table-bordered">
    <tr>
        <th>编号</th><th>分类</th><th>片名</th><th>版本</th><th>地区</th><th>演员</th><th>导演</th><th>语言</th><th>年</th><th>状态</th><th>标记</th><th>管理</th>
    </tr>
    {% for hakuzy in hakuzylist %}
    <tr>
        <td>{{ hakuzy.id }}</td>
         <td>{{ hakuzy.catecn }}</td>
         <td>{{ hakuzy.title }}</td>
        <td>{{ hakuzy.banben }}</td>
        <td>{{ hakuzy.location }}</td>
        <td>{{ hakuzy.arts }}</td>
        <td>{{ hakuzy.dc }}</td>
        <td>{{ hakuzy.lang }}</td>
        <td>{{ hakuzy.year }}</td>
         <td>{{ hakuzy.state }}</td>
        <td>{{hakuzy.status}}</td>
         <td><a href="{{ url_for('admin.handlehakuzy',id=hakuzy.id)}}">修正</a>|<a href="{{ url_for('admin.hakuzypush',id=hakuzy.id)}}">推送</a></td>
    </tr>
    {% endfor %}
</table>

{%  endblock %}